<div class="row d-flex justify-content-center">
    <div class="col-8 slide-banner-wrapper d-flex justify-content-center" id="slide-banner-wrapper"
        [style.background-image]="'url(' + bannerImageUrl + ')'">

        <div class="slide-banner-container d-flex align-items-center">
            <img src="{{imageBannerUrl01}}" alt="" width="280px">
            <p style="margin-left: 3rem;">
                <span class="slide-text-content-1">01.</span>
                <br>
                <span class="slide-text-content-2">Emergency?</span>
                <br>
                <span class="slide-text-content-3">Find Nearest</span>
                <br>
                <span class="slide-text-content-2">Medical Facility</span>
                
            </p>
        </div>
    </div>
</div>