<div class="row d-flex justify-content-center">
    <div class="col-8 nav-wrapper">
        <div class="row h-100">
            <div class="col-6 d-flex ">
                <img src="{{logoImage}}" class="rounded-circle" alt="img" width="72px">
                <h3 class="h-100 d-flex align-items-center">Doc <span style="color: #03fca9;">Book</span></h3>
            </div>

            <div class="col-6 d-flex justify-content-end align-items-center">
                <div id="nav-menu" class="col-md-6 w-50 d-flex justify-content-between">
                    <a href="#">Doctors</a>
                    <a href="#">About</a>
                    <a *ngIf="token == '' || token == null" href="/login">Sign in</a>
                    <div *ngIf="token" (click)="toggleUserMenu()" class="user-dropdown d-flex">
                        <div class="user-image-container">
                            <img class="user-image" src="{{userAvatar}}" alt="">
                        </div>
                        <div *ngIf="shouldDisplayUserMenu" class="dropdown-content">
                            <a href="">General Information</a>
                            <a (click)="logout()">Log out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>